<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" enctype="multipart/form-data">
        <input type="text" name="headline" placeholder="Enter the Headline">
        <input type="file" name="profile">
        <input type="textarea" name="article" placeholder="Enter Brief">
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="submit" name="Send email for approval">
    </form>
</body>
</html>